body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: #004080;
}

h2 {
  color: #004080;
  border-bottom: 2px solid #004080;
  padding-bottom: 1px;
}

.section {
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.contact,
.Name {
  line-height: 15px;
  margin-bottom: 10px;
}

a {
  color: #004080;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
